.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 1.5rem;
  justify-items: center;
}

.grid > div {
  max-width: 300px;
}

.bg-blue-500 {
  background-color: #3b82f6;
}

.text-white {
  color: white;
}

.bg-yellow-500 {
  background-color: #fbbf24;
}

.bg-red-500 {
  background-color: #ef4444;
}

.bg-green-500 {
  background-color: #10b981;
}

@media (max-width: 768px) {
  .btn-home {
    margin: 5rem;
  }
}
