.header {
  background-color: rgba(59, 130, 246, 0.17);
  height: 10rem;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 1rem;
  box-sizing: border-box;
  position: relative;
}

.header img {
  height: 7rem;
  margin-left: 1rem;
}

.hamburger-btn {
  display: none;
  cursor: pointer;
}

.hamburger-btn svg {
  color: #333;
}

.close-btn {
  position: absolute;
  top: 1rem;
  right: 1rem;
  cursor: pointer;
}

.close-btn svg {
  color: #333;
}

.dropdown-menu {
  position: fixed;
  top: 0;
  left: 0;
  background-color: #333;
  border-bottom: 1px solid #ccc;
  z-index: 1000;
  width: 100%;
  opacity: 0;
  transform: translateY(-10px);
  transition: opacity 0.3s ease, transform 0.3s ease;
  pointer-events: none;
}

.dropdown-menu.visible {
  opacity: 1;
  transform: translateY(0);
  pointer-events: auto;
}

.dropdown-menu ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.dropdown-menu li {
  margin: 1rem 0;
}

.dropdown-menu li {
  color: #ffffff;
}

.dropdown-menu .menu-item {
  text-decoration: none;
  color: #ffffff;
  display: block;
  font-weight: bold;
  padding: 0.5rem 1rem;
  border-radius: 4px;
  transition: background-color 0.3s;
}

.dropdown-menu .menu-item:hover {
  background-color: #f1f1f1;
  color: #333;
}
@media (max-width: 768px) {
  .hamburger-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 1rem;
    margin-left: 3rem;
  }

  .dropdown-menu.visible {
    opacity: 1;
    transform: translateY(0);
    pointer-events: auto;
  }
}
